<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% end %}</title>
    <meta http-equiv='Content-Type' content='text/html'; charset='utf-8'/>
    <meta http-equiv='Content-Language' content = 'zh-cn'/>
    <meta name="keywords" content ="django.jwcsite"/>
    <meta name="author" content="cloudaice"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="stylesheet" type="text/css" href="/static/css/stu_service.css"/>-->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <script src"/static/js/jquery-1.7.1.min.js"></script>

    <!--google analysic-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28805988-2']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
     </script>
</head>
<body >
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">教室查询</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li ><a href="/">首页</a></li>
              <li ><a href="/viewkb/">查询课表</a></li>
              <li ><a href="/feedback/">反馈</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
   <div class="container">
    <div class= "content">
    {% block content %}{% end %}
   </div>
    <footer>
    <p>made by <a href="http://www.cloudaice.com" target="_blank" tilte= "cloudaice">Xiang Chao</a>@ 2012</p>
    </footer>
  </div>
</body>
</html>
