<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv='Content-Type' content='text/html'; charset='utf-8'/>
    <meta http-equiv='Content-Language' content = 'zh-cn'/>
    <meta name="keywords" content ="django.jwcsite"/>
    <link rel="stylesheet" type="text/css" href="/static/css/stu_service.css"/>
    <script src"/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28805988-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body >
    {% block content %}{% endblock %}
    <div id = "footer" >
    {% block footer %}
    <hr>
    <p>made by 
    <a href = "http://www.cloudaice.com">cloudaice</a><br>有任何问题建议，请向我们<a href="/feedback/">反馈</a></p>
    {% endblock %}
    </div>
</body>
</html>
