<!--@+leo-ver=5-thin-->
<!--@+node:cloudaice.20120216102454.1180: * @file /home/cloudaice/pyrepo/jwcsite/stu_service/templates/home_page.html-->
<!--@@language xml-->
<!--@@tabwidth -4-->
<!--@+others-->
<!--@+node:cloudaice.20120216102454.1181: ** home_page declarations-->
{% extends "base.html" %}
{% block title %}
教室状态查询
{% endblock %}
{% block content %}
<h1>教室状态查询</h1>
{% if form.errors %}
<p style='color: red;'>
Please correct the error{{ form.errors|pluralize }} bellow.
</p>
{% endif %}
<!--@+node:cloudaice.20120216102454.1182: ** div-->
<div id = "form_option" align = "center">
<form action="" method = 'post'>
    <!--@+others-->
    <!--@+node:cloudaice.20120216102454.1183: *3* table-->
    <table>
        {{ form.as_table }}
    </table>
    <!--@-others-->
    <p id = "sub"><input  type = "image" src="/static/images/button.gif" name = "submit"></p>
</form>
</div>
<!--@+node:cloudaice.20120216102454.1184: ** table-->
{% if room_tables %}
<table class ="collapse">
    {% for k,v,j in room_tables %}
    <tr><td class="solid">{{ k }}</td><td class="solid">{{ v }}</td><td class= "solid">{{ j }}</td></tr>
    {% endfor %}
</table>
<!--@-others-->
{% endif %}
{% endblock %}
<!--@-leo-->
