{% extends "base.html" %}
{% block title %}
教室状态查询
{% endblock %}
{% block content %}
<h1>教室状态查询</h1>
{% if form.errors %}
<p style='color: red;'>
Please correct the error{{ form.errors|pluralize }} bellow.
</p>
{% endif %}
<div id = "form_option" align = "center">
<form action="" method = 'post'>
    <table>
        {{ form.as_table }}
    </table>
    <p id = "sub"><input  type = "image" src="/static/images/button.gif" name = "submit"></p>
</form>
</div>
{% if room_tables %}
<table class ="collapse">
    {% for k,v,j in room_tables %}
    <tr><td class="solid">{{ k }}</td><td class="solid">{{ v }}</td><td class= "solid">{{ j }}</td></tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
