{% extends 'base.html' %}
{% block title %} about {% end %}
{% block content %}
<div class='hero-unit'>
    <p class='lead'>
    <strong>空间教室查询</strong>是我去年寒假的时候在学校做的，当时的初衷是为了方便大家找到一个自习的教室。
    上线之后有很多同学使用，并且不少同学都提出宝贵的意见。比较惭愧的是：自己因为找实习，加上各种各样的事情，
    没有根据大家提出的意见进行更新，更加糟糕的是，一段时间里处于无法使用状态。对此表示深深的歉意。</br>
    现在我已经大四，即将毕业离开学校，因此想在走之前为学校留下点什么。
    在接下来这段时间里，我会不断完善和扩展该网站可以提供的功能。
    但是我一个人的力量还是不够的，希望更多的有激情的同学可以一起参加进来。
    这个项目的代码开源在<a href='http://www.github.com/cloudaice/jwcsite.git' target="_blank">github</a>上。
    有编程基础的同学可以在上面提交pull request。
    我自己本人比较擅长后端的编程，对于前端编程始终是一个门外汉，写的界面很难看。
    欢迎有设计艺术细胞的同学提供宝贵的意见。</br>
    之前自己写了一个反馈的界面，来和大家交流，这样子交互还是很不方便，现在大家可以直接通过微博和我联系。
    <wb:follow-button uid="2068721331" type="gray_1" width="67" height="24" ></wb:follow-button>
    </p>
</div>
{% end %}
