<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{% block title %}{% end %}</title>
    <meta http-equiv='Content-Type' content='text/html'; charset='utf-8'/>
    <meta http-equiv='Content-Language' content = 'zh-cn'/>
    <meta name="keywords" content ="django.jwcsite"/>
    <meta name="author" content="cloudaice"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css"/>
    
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body >
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Service</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li ><a href="/">查询课表</a></li>
              <li ><a href="/viewkb/">查询课表</a></li>
              <li ><a href="/feedback/">反馈</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
   <div class="container">
    <div class= "content">
    {% block content %}{% end %}
   </div>
    <footer class="footer">
      <div class="container">
        <p>made by<a href="http://www.cloudaice.com" target="_blank" tilte= "cloudaice">Xiang Chao</a>@ 2012</p>
      </div>
    </footer>
  </div>
</body>
</html>
