{% extends 'base.html' %}
{% block title %} 空闲教室查询 {% end %}
{% block content %}
    <div class="btn-group" data-toggle="buttons-checkbox">
        <button type="button" class="btn btn-primary">左</button>
        <button type="button" class="btn btn-primary">中</button>
        <button type="button" class="btn btn-primary">右</button>
    </div>
    {% if room_table %}
        <table class="table table-striped">
            {% for i in range(len(room_table)) %}
            <tr>
            <td class="solid">{{ room_table[i]['roomname'] }}</td></tr>
            </tr>
            {% end %}
        </table>
    {% end %}
{% end %}


