{% extends 'base.html' %}
{% block title %} 空闲教室查询 {% end %}
{% block content %}
    <div class="btn-group" data-toggle="buttons-checkbox">
        <button type="button" class="btn btn-primary">一</button>
        <button type="button" class="btn btn-primary">二</button>
        <button type="button" class="btn btn-primary">三</button>
        <button type="button" class="btn btn-primary">四</button>
        <button type="button" class="btn btn-primary">五</button>
    </div>
    <ul class="nav nav-tabs", id='buildTab'>
        <li><a href="#zhengxin">正心</a></li>
        <li><a href="#chengyi">诚意</a></li>
        <li><a href="#zhizhi">致知</a></li>
    </ul>
    <script>
        $('#buildTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
{% end %}

