{% extends 'base.html' %}
{% block title %} 空闲教室查询 {% end %}
{% block content %}
    <div class="btn-group" data-toggle="buttons-checkbox" id='sections'>
        <button type="button" class="btn btn-primary">第一节</button>
        <button type="button" class="btn btn-primary">第二节</button>
        <button type="button" class="btn btn-primary">第三节</button>
        <button type="button" class="btn btn-primary">第四节</button>
        <button type="button" class="btn btn-primary">第五节</button>
    </div>
    <ul class="nav nav-tabs" id='buildTab'>
        <li><a href="#zhengxin" data-toggle="tab">正心</a></li>
        <li><a href="#chengyi" data-toggle="tab">诚意</a></li>
        <li><a href="#zhizhi" data-toggle="tab">致知</a></li>
    </ul>
{% end %}
