{% extends "base.html" %}
{% block title %} 主页 {% end %}

{% block content %}
<div class='jumbotron'>
    <img src='/static/img/yiyun2.png'></img>
</div>
<div id="myCarousel" class="carousel slide">
    <div class='mid-contain'>
<!--
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> 
  -->
  <div class="carousel-inner">
      <div class="active item">
          <img src="/static/img/1.jpg" alt data-pinit="registered">
      </div>
      <div class="item">
          <img src="/static/img/2.jpg" alt data-pinit="registered">
      </div>
      <div class="item">
          <img src="/static/img/3.jpg" alt data-pinit="registered">
      </div>
      <div class="item">
          <img src="/static/img/4.jpg" alt data-pinit="registered">
      </div>
      <div class="item">
          <img src="/static/img/5.jpg" alt data-pinit="registered">
      </div>
      <div class="item">
          <img src="/static/img/6.jpg" alt data-pinit="registered">
      </div>
      <div class="item">
          <img src="/static/img/7.jpg" alt data-pinit="registered">
      </div>
      <div class="item">
          <img src="/static/img/8.jpg" alt data-pinit="registered">
      </div>
      <div class="item">
          <img src="/static/img/9.jpg" alt data-pinit="registered">
      </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
{% end %}
